
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: "Mitr", sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
  position: relative;
}

.list {
    list-style-type: none;
}

.card {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  width: 20rem;
  height: auto;
  display: inline-block;
  margin-bottom: 1rem;
}

.card img {
  border-radius: 5%;
  object-fit: contain;
  width: 10rem;
  height: 10rem;
}

.card .name {
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

.card .genre {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.card .description {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 6rem;
  overflow-y: scroll;
  background-color: transparent;
}

.card .outside-btn {
  margin-top: 1rem;
}

.card .outside-btn .btn {
  font-family: "Mitr", sans-serif;
  border: 1px solid white;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  }

.card .outside-btn .btn:hover {
  background-color: white;
  color: black;
}

/* ---------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Roboto+Mono&display=swap');

.container {
  position: fixed;
  width: 100%;
  height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
}

.container button {
  font-family: 'Roboto Mono', monospace;
}

.container .popup {
  width: 50rem;
  background: #fff;
  border-radius: 6px;
  position: fixed;
  text-align: center;
  padding: 2rem 30px;
  color: #333;
  visibility: hidden;
  top: 0rem;
}

.container .popup img {
  width: 15rem;
  margin: 0 0.2rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container .popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* -------------------------------------------- */

.menu img {
  width: 15rem;
  margin: 0 0.2rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu_div {
  margin-bottom: 10rem;
}